body {
    width: 100%;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 15px;
    line-height: 1.6;
    color: #333;

}

*,
*::after
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    border: 0;
    display: block;
    height: 1px;
    margin: 40px 0;

    background-color: #e5e5e5;
}

/* --Container-- */
.container {
    width: 100%;
    padding: 0 15px 0 15px;
    max-width: 1210px;
    margin: 0 auto;
}

/* --Intro-- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #fff;
}

/* --Header-- */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* --Nav-- */
.nav {
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;

    transition: color 0.1s linear;
}

.nav__link.active {
    color: #fce38a;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;

    transition: opacity 0.1s linear;
}

.nav__link:hover {
    color: #fce38a; 
}

.nav__link:hover::after,
.nav__link.active::after {
    opacity: 1;
}

/* --Button-- */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 35px;
    border: 3px solid #fff;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* --Slider-- */
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    position: relative;
    width: 23%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-top: solid 3px #fff;
    opacity: 0.7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color:#f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;

}



/* --Section-- */
.section {
    padding: 80px 0;
}

.section--devices {
    margin-bottom: 40px;
    background: url(../images/Slice_2.jpg) center, no-repeat;
    background-size: cover;

    padding-bottom: 0;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: url(../images/mount.jpg) center, no-repeat;
    background-size: cover;
}

.section--review {
    margin-bottom: 50px;
    margin-top: -50px;
}

.section--map {
    background: url(../images/map.jpg) center, no-repeat;
    background-size: cover;
}

.section__header {
    /* margin-bottom: 66px; */
    width: 100%;
    max-width: 950px;
    text-align: center;
    margin: 0 auto 66px;
}

.section__suptitle {
    font-size: 24px;
    font-family: "Kaushan Script";
    color: #333333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}

.section__text {
    font-size: 15px;
    color: #999999;
}


/* --About-- */

.about {
    margin-top: 90px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;

}

.about__item {
    max-width: 380px;
}

.about__inner {
    position: relative;
    background-color: #95e1d3;
}

.about__inner:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__inner:hover .about__img img{
    opacity: 0.1;    
}

.about__inner:hover .about__text{
    opacity: 1;
}

.about__img {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    transition: transform 0.1s linear;
}

.about__img img {
    display: block;
    transition: 0.1s linear;
}

.about__text {

    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 45%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s linear;
}


.about__info {
    margin-top: 20px;

    text-align: center;
}

.about__name {
    margin-bottom: 5px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.about__prof {
    color: #999999;
    font-size: 13px;
    font-style: italic;
}

/* --Statistic-- */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    justify-content: center;
}

.stat__item {
    flex: 1 1 0;

    border-left: 1px solid#baece3;
    padding: 70px 25px;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid#baece3;
} 

.stat__count {
    font-size: 72px;
    font-weight: bold;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* --Services-- */
.services {
    display: flex;

}

.services__item {
    flex: 1 1 0;

    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 7px;
    left: 25px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    
}

.services__text {
    font-size: 13px;
    color: #999999;

}



/* --Devices-- */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}


/* --WeDo-- */
.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/* --accordion-- */
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header::after {
    transform: translateY(-50%) rotate(-45deg);
}

.accordion__item.active
.accordion__header {
    border-bottom: 1px solid #e5e5e5;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;

    position: absolute;
    top: 60%;
    right: 5%;
    z-index: 1;

    transform: translateY(-100%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion__content {
    padding: 15px 20px;
    color: #999999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    
    display: none;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/* --Reviews-- */
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__text {
    margin-bottom: 15px;
    font-size: 24px;
    color: #999999;
    font-style: italic;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 24px;
}

.reviews__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 15px;
}

.reviews__photo {
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}


.reviews__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;

}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}

/* --Social-- */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 50px;
    height: 50px;
    padding: 22px 10px 0 10px;

    background-color: #fce38a;
    color: #f38181;
    border-right: 1px solid #f38181;
    text-decoration: none;

    font-size: 30px;
    line-height: 1;

    transition: background 0.1s linear, color 0.1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #f38181;
    color: #ffffff;
}


/* --Logos-- */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* --Works-- */
.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.works__item:hover .works__img {
    opacity: 0.1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__img {
    max-width: 100%;
    height: auto;

    display: block;
    transition: opacity 0.2s linear;
}

.works__info {
    text-align: center;
    color: white;
    padding: 0 15px;

    opacity: 0;
    transition: opacity 0.2s linear;
    
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
}

.works__title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.works__text {
    font-style: italic;
    font-size: 13px;
}


/* --Clients-- */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-around;
}

.clients__item {
    max-width: 25%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}

.clients__prof {
    color: #333333;
    font-size: 13px;
    font-style: italic;
}

.clients__text {
    color: #999999;
    font-size: 14px;
}

.clients__text::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

.clients__photo {
    width: 110px;
    height: 110px;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

/* --Blog-- */
.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 32%;
}

.blog__header {
    position: relative;
    margin-bottom: 16px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    padding: 10px 18px;
    text-align: center;
    background-color: #95e1d3;

    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    color: white;
    font-style: italic;
    font-size: 14px;
}

.blog__date-day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog__content {
    margin-bottom: 16px;
}

.blog__title {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.blog__text {
    color: #999999;
    font-size: 13px;
    text-align: left;
}

.blog__footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;

    font-size: 15px;
    font-style: italic;
    color: #999;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item .fa-eye {
    color: #95e1d3;
}

.blog-stat__item .fa-comment-dots {
    color: #95e1d3;
}

/* --Map-- */
.map {
    text-align: center;
}

.map__title {
    color: #f38181;
    font-size: 24px;
    text-transform: uppercase;
}

.map__title a {
    text-decoration: none;
    color: inherit;
}

.map__title a:hover {
    text-decoration: underline;
}

.map__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px auto 0;
}


/* --footer-- */

.footer {
    background-color: #f8f8f8;
    padding-top: 65px;
}

.footer__col--first {
    width: 481px;
}

.footer__col--second {
    width: 336px;
}

.footer__col--third {
    width: 268px;
}

.footer__inner {
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__logo {
    margin-bottom: 30px;
    color: #cccccc;
    font-size: 46px;
    font-weight: bold;
}

.footer__text {
    margin-bottom: 30px;
    color: #999999;
    font-size: 14px;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b{
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-size: 15px;
    color: #999;
    font-style: italic;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #95e1d3;
    font-size: 18px;
}

.footer__title {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

/* --istagram-- */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inst__item {
    width: 32.33333%;
    border-bottom: 1px solid #fff;
}

.inst__item img {
    display: block;
}

/* --subscribe-- */
.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 30px;
    padding: 12px;
    background-color: white;
    border: 1px solid #e7e7e7;

    font-size: 15px;
    font-style: italic;
    color: black;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__btn {
    width: 40%;
    height: 55px;
    padding: 12px 35px;
    background-color: #95e1d3;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    cursor: pointer;
}

.subscribe__btn:hover {
    background-color: #559e91;  
}


/* --blogs-- */
.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__content a {
    text-transform: uppercase;
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

.blogs__content div {
    color: #999999;
    font-size: 12px;
    font-style: italic;
}

/* --copyright-- */
.copyright {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: black;
    border-top: 1px solid #e5e5e5;
}

.copyright span {
    color: #f38181;
}

/* Media */
@media (max-width: 1200px) {

}